/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
/* body {
    height: 100%;
} */

html {
    height: 100%;

}

body {
    background-color: black !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.picture-container-cancha {
    width: auto;
}